body {
    background: lightyellow;

}
.container{
    background-color: #b9c1cb;
    border-radius: 20px;
}
.from-box{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.cloth{
    flex : 1;
    max-width: 300px;
}
.button-box {
    margin: 35px auto;
    width: 260px; 
    background: #fff;
    position: relative; 
    border-radius: 90px;
}
#hii{
    font-size: 30px;
    font-style: italic;
    padding : 20px;
}
#hii2{
    width: 200px;
    height: auto;
}
.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    outline: none;
    position: relative;
    border: 0;
    text-align: center;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: #e67e22;
    border-radius: 40px;
    transition: 0.5s;
}
#image,
#video{
    padding: 20px;
    flex : 1;
    box-sizing: border-box;
}
iframe{
    width: 100%;
}
.media-container{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    max-width: 600px;
    background-color: lightyellow;
}
    #image {
        flex: 100%;
        max-width: 100%; /* Take up full width in smaller screens */
    }
    
    #video{
        flex: 100%;
        height: 300px;
        width: 500px;
    }
    #navbar ul {
        margin: 0;
        padding: 10px;
        list-style-type: none;
        text-align: left;
        background-color: #b9c1cb;
    }
    
    #navbar {
        width: 100%; 
    }
    
    #navbar ul li {
        display: inline;
    }
    
    #navbar ul li a {
        text-decoration: none;
        padding: .2em 1em;
        color: rgb(79,100,124);
        background-color: #b9c1cb;
    }
    
    #navbar ul li a:hover {
        color: #000000;
        background-color: #fff;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(79,100,124);
        height: 200px;
    }